.image-gallery {
  width: 100%;
}
img.image-gallery-image {
  filter: brightness(65%);
}

h1 {
  font-family:'Quicksand', sans-serif;
  font-size: 2.3em;
  font-weight: 600;
}

p {
  font-size: 1.15em;
}

.head-text {
  position: relative;
}

.text-on-image {
  color: white;
  position: absolute;
  margin: 10%;
  bottom: 20%;
  top: 10%;
  font-size: 1.15em;
}

.short-text { display: none; }

@media (max-width: 700px) {
  .short-text { display: inline-block;}
  .full-text { display: none; }
  .h1 { font-size: 1vm; }
  .text-on-image { margin: 5% }
  .image-gallery { height: 120%; }
}

.about-header {
  font-size: 3vm;
  margin: 4%;
}

.about-text {
  font-size: 1vm;
  margin: 5%
}